/* $Id: uc_file.css,v 1.1.2.1 2008/04/23 19:38:08 rszrama Exp $ */

.duration  {
	display:inline;
} 

.duration .form-item {
	display:inline;
}

tr.group {
	border:0px;
}

.file-name {
	font-style: italic;
}